
<section class="input-output-property-binding">
  <article>
    <h3>Input/Output properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>

    <contador [valor]="'15'" (mudouValor)="onMudouValor($event)"></contador>
  </article>
</section>

<app-meu-form></app-meu-form>

<section class="property-binding">
  <article>
    <h3>Event Binding</h3>
    <button class="btn btn-primary" (click)="botaoClicado()">Clique me!</button>

    <br>
    <br>

    <input type="text" 
      (keyup)="teclaPressionada($event)" 
      (keyup.enter)="salvarValor($event.target.value)"
      (blur)="salvarValor(campo.value)" #campo>

    <p>Última tecla digitada: {{ultimoValor}}</p>
    <p>Valor Atual: {{valorAtual}}</p>
    <p>Valor Salvo: {{valorSalvo}}</p>

    <span (mouseover)="mouseOverOut()" (mouseout)= "mouseOverOut()" [class.negrito]="mouseOver">passe o mouse sobre mim</span>
  </article>

  <article>
    <h3>Class and Style Data Binding</h3>
    <div>
      Escolha uma classe: 
      <select #classe (change)=0>
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Informação</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br>
      <br>

      <div class="alert {{classe.value}}"> Texto da cor da classe </div>

      <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' "> Texto de erro </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Informação</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>      
    </div>
  </article>
  <article>
    <h3>Interpolação</h3>
    <p>Interpolação url: {{ url }}</p>
    <p>1 + 1 = {{ 1 + 1 }}</p>
    <p>getValor {{ getValor() }}</p>
    <p>boolean {{ true && true }}</p>
  </article>
  <article>
    <img src={{urlImagem}}>
  </article>
  <article>
    <img [src]="urlImagem">
  </article>
  <article>
    <img bind-src="urlImagem">
  </article>
</section>
